#youtube{
    background-color: #fff;
    height: 450px;
    margin-top: 100px;
    width: 600px;
    margin-bottom:400px;
    padding:20px;
    border-radius: 8px;
 }
 
 .youtube-body{
   background: url("../images/villanova\ finals.jpeg");
   background-size: cover;
   background-attachment: fixed;
 }
 
 #youtubeHeader{
    /* position: fixed; */
    text-align: center;
    /* background-color: yellow; */
    width: 500px;
    /* margin-top: 100px; */
    margin-left: 30px;
 
 
 }
 
 
 #video{
    /* position: fixed; */
    margin-top: auto;
    text-align: center;
    background-color: #fff;
    width: 500px;
    top:50px;
 
 
 }
 
 
 
 
 .logo{
    width: 150px;
    padding: 10px;
 
 }
 
 main{
    padding: 100px 18px 10px;
 }
 
 article{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid #fff;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
 }
 
 article  :hover{
    border: 2px solid #ff9999;
 
 }
 
 .thumb {
    height: 70px;
    border-radius: 4px;
 }
 
 .details {
    padding: 8px 22px;
 }