
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
		    margin: 0 auto;
      }
     
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        background-image: url("../images/crowd.jpg");
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        background-color: gray;
	  }
	  .button-secondary {
      color: white;
      border-radius: 10px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  #gform{
  background-color: white;
  margin: 10px;
  width: 540px;
  height: 540px;
  border-radius: 10px;
  float: left;
  }

.body-section{
  width: 120px;
}

input, #message{
  width: 60%
}
#message{
  height:300px;
}
.pure-form-aligned .pure-control-group label {
  text-align: center;
}

#right-panel{
  clear: both;
  background-color: white;
  margin-bottom: 20px;
}

