#press {
    background: rgb(184, 104, 30)!important;
    margin-top: 150px;
}
.btn-primary {
    background: rgb(184, 104, 30)!important;
}
.header-area {
    background-color: rgb(184, 104, 30)!important;
}